/* ===GENERAL=== */
* {
    box-sizing: border-box;

}

body {
    background: #E5E5E5;
    font-size: 16px;
}


img{
    width:100%;
}

a{
    color: #343a40;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

/* ===HEADER=== */
.nav-container{
    margin-bottom: 20px;
}
.home-button{
    color: #343a40;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}
.fab{
    color: #343a40;
}
.home-button:hover,
.fab:hover{
    text-decoration: none;
    color:#fcca47;
    cursor:pointer;
}

.fab{
    margin-left:10px;
    font-size: 1.05em;;
}
.fa-google-plus-g{
    font-size: 1.2em;
}
header{
    margin-top:5vh;
}
.header-img-container{
    height:350px;
    background-image: url('../img/Blog img/long-exposure2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border:1px solid
}

/* ===CONTENT=== */

.blog-content h1{
    color: #343a40;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin: 40px 0;
    text-align: center;
}

.card-container{
    padding:0!important;
    
}
.card{
    width:100%!important;
}

.card{
    margin-bottom:5vh;
}
article:first-child{
    margin-top:15vh;
}
