/* ===GENERAL=== */
* {
    box-sizing: border-box;

}

body {
    background: #E5E5E5;
    font-size: 16px;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Roboto', sans-serif;
}

img{
    width:100%;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

.hidden {
    display: none;
}

/*====HEADER==== */

.logo-container {
    padding: 10px 0px;
}

header .info-row {
    background: #F5F3F3;
    padding: 20px 0;
}

.info-container {
    width: 60%;
    padding-top: 38px;
    color: #E5E5E5;
}

.info-hr {
    border-top: 3px solid #fcca47;
    width: 85px;
    margin-top: 0px;
}

.info-container h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.info-container h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.phone {
    font-weight: 900;
    color: #BD2100;

}

.fa-facebook,
.fa-google-plus,
.fa-twitter {
    padding-right: 0.7px;

}

.badge.social {
    display: inline-block;
    background: #ccc;
    font-size: 22px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    margin-right: 5px;
    padding: 0;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}

.badge.social.twitter:hover {
    background-color: #55acee;

}

.badge.social.facebook:hover {
    background-color: #3b5998;
}

.badge.social.google-plus:hover {
    background-color: #db4b39;
}

/* Navbar */

.navbar {
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    background: #fcca47 !important;
}

.logo-brand {
    width: 70px;
    height: auto;
    margin-right: 20px;

}

.navbar .nav-item {
    width: 200px;
}

.navbar .nav-item a.main-links:hover {
    font-variant: normal;
}

.navbar .nav-item:last-child {
    border-right: none;
}

.navbar .nav-link {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-variant: small-caps;
}

.navbar-light .navbar-nav .nav-link {
    color: #343a40 !important;
}

.navbar-nav .social-icons {
    padding-top: 4px;
}


/*====HERO SECTION==== */

#hero {
    height: 100vh;
    background-image: url('../img/roadWithBrakeSigns.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

#hero .banner {
    position: absolute;
    width: 100%;
    height: 170px;
    left: 0px;
    top: 118px;
    background: rgba(46, 45, 45, 0.41);
    text-align: center;
}

#hero .banner h1,
#hero .banner h4 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #EDE8E8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#hero .banner h1 {
    margin-top: 20px;
    font-size: 2.5em;
    line-height: 55px;
}

#hero .banner h4 {
    font-size: 18px;
    line-height: 21px;

}


/*====DESPRE NOI SECTION==== */

.despre-noi {
    padding: 5vh 0;
    font-family: 'Ubuntu', sans-serif;
}

.despre-noi .despre-noi-col1 {
    display: table;
    height: 450px;
}




.despre-noi .despre-noi-col1 {
    background-color: #646262;

}

.despre-noi .despre-noi-col1 h2 {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 40px;
    color: #FFFDFD;
    font-size: 35px;
    line-height: 47px;
}

.despre-noi .despre-noi-col2 {
    height: 450px;
    background: #FCCA47;
    overflow: auto;
}

.despre-noi .despre-noi-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    padding: 45px 25px 40px;

}


/*====TRACTARI AUTO==== */

.tractari-auto .tractari-auto-title {
    width: 350px;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    color: #464444;

}

.tractari-auto-title h2 {
    font-weight: bold;
    font-size: 35px;
}

.tractari-auto-title h4 {
    font-size: 24px;
}

.car-icons {
    height: 450px;
}

.car-icons img {
    margin-top: 22px;
}

.car-crashed {
    position: absolute;
    top: 15%;
}

.car-platform {
    position: absolute;
    top: 55%;
}

.car-crashed,
.car-platform {
    left: 20%;
    width: 120px;
    height: 120px;
    margin-bottom: 50px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #fcca47;
}



.tractari-auto-description {
    height: 450px;
    background: #C4C4C4;
    font-size: 18px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
}

/* .tractari-auto-description p {
    padding: 45px 25px 40px;
    line-height: 28px;
} */

/* Carousel */

#carouselExampleIndicators {
    margin-bottom: 100px;
}

.carousel-item .col-sm-4 {
    padding-right: 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 30px !important;
    height: 30px !important;
}


/*====TARIFE TRACTARI==== */

.tarife-tractari-title {
    display: table;
    text-align: left;
    height: 100px;
    color: #fff;
    background-color: #464444;
    border-bottom: 10px solid #fff;
}

.tarife-tractari-title h2 {
    display: table-cell;
    padding-left: 20px;
    vertical-align: middle;
}

.explicare-tarife {
    min-height: 500px;
    background: #fcca47;
    /* margin-bottom: 50px; */
}

.explicare-tarife .row .col-sm-4 {
    padding: 0;
}

.explicare-tarife .interaction {
    padding-top: 100px;
}

.info-wraper p {
    padding: 0 20px;
    text-align: center;
    font-size: 1.1em;
    line-height: 23px;
    text-align: center;
    color: #464444;
}

.circle {
    display: table;
    width: 100px;
    height: 100px;
    text-align: center;
    border: 6px solid rgba(0, 0, 0, 0.38);
    border-radius: 100%;
    font-size: 50px;
}

.circle i {
    display: table-cell;
    vertical-align: middle;
}

.arrow {
    width: 50px;
    font-size: 50px;
    text-align: center;
}

.bullet {
    width: 25px;
    font-size: 25px;
}

.track-line {
    margin-top: -18px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.53);
    z-index: 1;
}


/*====SUNTEM AICI==== */

.suntem-aici {
    padding: 200px 0 200px 0;
    background: #f5f3f3;
}

.suntem-aici-title-wraper {
    padding: 50px 0 30px 0;
    width: 200px;
}

.suntem-aici-title {
    font-weight: 900;
    font-size: 2em;
    color: #464444;
}


.content-wraper {
    background-color: #fff;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Ubuntu', sans-serif;
}

.adresa {
    text-align: right;
    padding-left: 30px;
}

.adresa h4 {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.formular-contact form {
    font-family: 'Ubuntu', sans-serif;
    width: 300px;
    padding-bottom: 50px;
}

/*====FOOTER==== */

footer {
    background: #464444;
}

.footer-social {
    display: table;
    width: 150px;
    height: 100px;
    text-align: center;
}

.footer-social-wraper {
    display: table;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 32px;
}

.footer-social-wrapper a {
    margin-right: 30px;
}

.footer-social {
    display: table-cell;
    vertical-align: middle;
}

.footer-social .badge {
    margin-right: 20px;
}



/*====MEDIA QUERIES==== */

@media screen and (min-width:320px) {

    .info-container {
        width: 85%;
        padding-top: 14px;

    }

    .info-container h3 {
        font-size: 20px;
    }

    .info-container h5 {
        line-height: 13px;
    }

    .navbar-nav {
        padding-top: 20px;
    }

    .navbar-brand .navbar-brand-text {
        display: inline-block;
        margin-right: 4rem !important;
        font-size: 1rem !important;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        color: #464444 !important;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .logo-brand {
        width: 50px;
        height: auto;
        margin-right: 20px;
    }

    .navbar-toggler {
        top: 24px !important;
        right: 14px !important;
        position: fixed;
        top: 29px;
        right: 20px;
        font-size: 1.0rem !important;
        padding: .25rem .50rem !important;
        font-size: 0.9rem;
    }

    .logo-container {
        display: none;
    }


    #hero {
        height: 96vh;
    }

    #hero .banner {
        top: 87px;
        height: 250px;
        background: rgba(46, 45, 45, 0.61);
    }

    #hero .banner h1 {
        font-size: 1.5em;
    }

    #hero .banner h4 {
        font-size: 1.0em;
    }

    .navbar {
        border-top: 5px solid #fff;
        border-bottom: 5px solid #fff;
    }


    .navbar .nav-item {
        width: 130px;
        border-right: none;
        border-bottom: 1px solid rgb(245, 243, 243);
        margin: auto;
    }


    .navbar .nav-item:nth-child(6) {
        border-bottom: none;
        margin-bottom: 25px;
    }

    .navbar-nav .social-icons {
        padding-top: 13px;
    }

    .formular-contact form {
        width: 100%;
    }

    .despre-noi {
        padding: 1vh 0 5vh 0;
    }

    .car-icons {
        height: 200px;
    }

    .despre-noi .despre-noi-col1,
    .despre-noi .despre-noi-col2,
    .tractari-auto-description {
        height: 250px;
    }


    .despre-noi .despre-noi-description,
    .tractari-auto-description p {
        font-size: 1.0em;
        padding: 45px 10px 40px;
    }

    .tractari-auto .tractari-auto-title {
        margin-bottom: 0;
    }

    .tractari-auto-title h2,
    .despre-noi .despre-noi-col1 h2 {
        font-size: 1.9em;
    }

    .car-crashed,
    .car-platform {
        width: 100px;
        height: 100px;
        margin-bottom: 0;
        top: 13%;
    }

    .car-platform {
        left: 57%;
    }

    .car-crashed {
        left: 15%;
    }

    .carousel-item .col-sm-4 {
        padding-bottom: 5px;
    }

    #carouselExampleIndicators {
        margin-bottom: 30px;
    }

    .tarife-tractari-title {
        text-align: center;
    }

    .tarife-tractari-title h2 {
        padding-left: 0;
        font-size: 1.6em;
    }

    .suntem-aici {
        padding: 50px 0 50px 0;
    }

    .adresa {
        text-align: center;
        padding: 0 0 20px 0;
    }

    .suntem-aici-title-wraper {
        text-align: center;
    }

    .suntem-aici-title {
        font-size: 1.8em;
    }

}


@media screen and (min-width:375px) {
    .logo-brand {
        width: 80px;
    }
    .navbar-toggler {
        top: 39px !important;
    }
    .navbar-brand {
        font-size: 1.3rem !important;
    }

    #hero .banner {
        top: 116px;
    }

    #hero .banner h1 {
        font-size: 1.8em;
    }

    .info-container h3 {
        font-size: 1.4em;
    }
}

@media screen and (min-width:400px){
    .car-crashed {
        left: 19%;
    }
}

@media screen and (min-width: 480px){
.car-crashed {
    left: 23%;
}
}

@media screen and (min-width:576px) {
    .car-platform{
        top: 101%;
        left: 24%;
    }

    .car-crashed {
        top: 25%;
    }

    .despre-noi {
        padding: 5vh 0 5vh 0;
    }

    .despre-noi .despre-noi-col1, 
    .despre-noi .despre-noi-col2, 
    .tractari-auto-description {
        height: 350px;
    }
    

}

@media screen and (min-width:768px) {
    #hero .banner h1 {
        font-size: 2.2em;
    }
    #hero .banner h4 {
        font-size: 1.2em;
    }
}

@media screen and (min-width:992px){
    .navbar-nav{
        padding-top:0;
    }
    .logo-brand {
        width: 50px;
    }

    .navbar-brand{
        margin-right:0!important;
        width:62px;
    }

    .navbar .nav-item {
        border-bottom: none;
        border-right: 1px solid #343a40;
        width:149px;
    }
    .nav-link {
        padding:0!important;
    }
    .navbar .nav-item:nth-child(6) {
        margin-bottom: 0;
    }

    .navbar-nav .social-icons {
        padding-top: 0;
    }

    .badge.social {
        font-size: 19px;
        height: 30px;
        width: 30px;
        line-height: 28px;
        margin-right: 2px;
    }

    .banner .logo-container {
        display: inline-block;
        width:150px;
        height:auto;
        padding: 15px 0px;
    }

    #hero .banner {
        top: 87px;
        height: 183px;
    }

    #hero .banner h1 {
        font-size: 1.6em;
    }

    #hero .banner h4 {
        font-size: 1em;
    }

    .info-container {
        width: 85%;
        padding-top: 50px;
    }
    .despre-noi {
        padding: 10vh 0 10vh 0;
    }
    .tractari-auto{
        padding-bottom: 10vh;
    }
    .car-crashed {
        top: 21%;
    }
}

@media screen and (min-width:1200px){
    #hero .banner h1 {
        font-size: 2em;
    }

    #hero .banner h4 {
        font-size: 1.2em;
    }

    .despre-noi .despre-noi-col1, 
    .despre-noi .despre-noi-col2, 
    .tractari-auto-description {
        height: 450px;
    }

    .despre-noi .despre-noi-description {
        font-size: 1.1em;
        line-height: 33px;
    }
     .tractari-auto-description p {
        font-size: 1.1em;
        line-height: 30px;
    }

    .car-crashed {
        top: 44%;
    }

    .car-platform {
        top: 121%;
    }
}

@media screen and (min-width:1280px) {
    .navbar .nav-item {
        width: 182px;
    }
}

@media screen and (min-width:1366px) {
    #hero .banner h1 {
        font-size: 2.2em;
    }
}

@media screen and (max-height:479px) {
    .navbar-nav {
        max-height: 220px;
        overflow-y: auto;
    }

}